[flake8]
max-line-length = 127
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    env,
    .env,
    node_modules,
    migrations,
    *.pyc,
    *.egg-info
ignore = 
    E203,
    W503,
    W504,
    E501,
    F403,
    F405
per-file-ignores =
    __init__.py: F401
